body{
    background-color: bisque;
}

h1{
    color:orangered;
}

a{
    color:coral;
}

/* mouse over link */
a:hover {
    color: aqua;
}

table{
    background-color: turquoise;
    width: 100%;
}

thead{
    width: 150%;
    background-color: wheat;
    border-color: black;
    border-width: 100%;
}

tbody{
    border-bottom-width: 150px;
    border-bottom-color: red;
}

#division1{
    border-color: black;
}